.reading-calendar {
  position: relative;
  width: 600px;
}
.reading-calendar .react-calendar {
  width: 600px;
  min-height: 680px;
  height: auto;
  padding: 15px;
  border: 1px solid #d9d9d9;
}
.reading-calendar .react-calendar__navigation {
  width: 255px;
  display: flex;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.reading-calendar .react-calendar__navigation__label {
  font-size: 24px;
  color: #262626;
}
.reading-calendar .react-calendar__navigation__prev-button,
.reading-calendar .react-calendar__navigation__next-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.reading-calendar .react-calendar__navigation__label {
  width: 133px;
  font-weight: 600;
}
.reading-calendar .react-calendar__month-view__weekdays {
  width: 100%;
  height: 17px;
  text-align: center;
  font-size: 14px;
  color: #6a6a6a;
  margin-bottom: 12px;
}
.reading-calendar .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.reading-calendar .react-calendar__month-view__days {
  width: 568px;
}
.reading-calendar .react-calendar__month-view__days button {
  position: relative;
  width: 70.86px;
  height: 102.2px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.reading-calendar .react-calendar__month-view__days__day abbr {
  position: relative;
  font-size: 14px;
  color: #262626;
}
.reading-calendar .react-calendar__navigation__today-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 60px;
  height: 40px;
  border: 1px solid #ececec;
  border-radius: 4px;
  color: #6a6a6a;
}
.reading-calendar .book-cover {
  position: absolute;
  bottom: 0;
  border: 3px solid white;
}
.reading-calendar .book-count {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 18px;
  font-size: 12px;
  border: 1px solid #ececec;
  background-color: white;
  color: #6a6a6a;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.16),
    0px 0px 1px 0px rgba(0, 0, 0, 0.12);
}
.reading-calendar .today-tile {
  background-color: #eaf7f2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
