.react-calendar {
  width: 600px;
  height: 680px;
  padding: 15px;
  border: 1px solid #d9d9d9;
}
.react-calendar__navigation {
  width: 255px;
  display: flex;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.react-calendar__navigation__label {
  font-size: 26px;
}
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
}
.react-calendar__navigation__label {
  width: 133px;
  font-weight: 600;
}
.react-calendar__month-view__weekdays {
  width: 100%;
  height: 17px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
}
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}
.react-calendar__month-view__days {
  width: 568px;
}
.react-calendar__month-view__days button {
  position: relative;
  width: 70.86px;
  height: 102.2px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.react-calendar__month-view__days__day abbr {
  position: relative;
  z-index: 1;
}
.react-calendar__navigation__today-button {
  border: 1px solid;
  width: 60px;
  height: 40px;
}
.react-calendar__navigation__today-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 60px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.book-cover {
  position: absolute;
  bottom: 0;
  left: 1/6;
  border: 3px solid white;
}
.book-count {
  position: absolute;
  bottom: 0;
  right: 4px;
  width: 23px;
  height: 16px;
  font-size: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1px 5px;
  background-color: white;
  color: black;
}
.today-tile {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
